/*-------header-------*/
.header{
    text-align:center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    border:1px solid black;
    width:30%;
    left:30%;
    position: relative;

}
.paragraph{
    color:rgba(12, 11, 11, 0.548)
}
.img{
    border-radius:50%;
    padding-top:8%;
/*--------container------*/
}
.container-ul{
    padding: 0;
}
.container-li{
    position: relative;
    background-color:#ddd;  
    list-style-type: none;
    border-bottom: 2px white solid;
    

}
.container-li i{
    font-size: 36px;
    color: rgb(238, 238, 238);
    
    position: absolute;
    right: 10px;
}

.container-li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size:2em;
    margin-left:-50%;
    
}
/*----------lebenslauf--------*/
.inside{
    border-bottom: 1px solid black;
    color:rgb(63, 57, 57);
    font-size:2em
}
.haki{
    font-weight: bold;
    color:white;
    text-shadow:2px 2px 4px #000000
}
span{
    color:blue;
}
.arkam{
    color:gray;
    text-align: left;
    padding-left:15%;
    font-weight: bold;
}
.rabet{
    color:blue;
    text-decoration: none;
}
/*-------portfolio-------*/
.tt{
    font-size: 2em;
    color:gray;
    border-bottom:1px solid black;
}
.bb{
    width: 80%;
    height: 70%;
}
.ss{
    font-weight: bold;
    color:rgb(59, 56, 56);
    padding-right: 35%;
}
.aa{
    color:gray
}
/*-----------skills----------*/
.mm{
    border-bottom:1px solid black;
    font-size:2em;
    color:gray
}
.mharat{
    text-align:left;
    padding-left:8%;
    font-weight: bold;
    color:gray;

}
.aa{
    width: 100%;
    background-color: #ddd; 
}
.skills {
    text-align: right;
    padding-bottom: 5px; 
    padding-top: 5px;
}
.html {
    width: 80%;
    background-color: #4CAF50;
} 
.js {
    width: 40%;
    background-color: #f44336;
} 
.React{
    width: 40%; 
    background-color:#2196F3;
} 
