#demoparagraph {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-gap: 10px;
-moz-column-gap: 10px;
column-gap: 10px;
-webkit-column-rule: 1px solid rgba(28,110,164,0.5);
-moz-column-rule: 1px solid rgba(28,110,164,0.5);
column-rule: 1px solid rgba(28,110,164,0.5);
}
